[groups]

main =
    css/validation.css

resource-schema-form =
    vendor/tableschema-ui/tableschema-ui.js

    js/module-resource-schema.js

resource-schema-form-bs2 =
    css/schema-editor-bs2.css

resource-schema-form-bs3 =
    css/schema-editor-bs3.css

report-form =
    vendor/goodtables-ui/goodtables-ui.css
    vendor/goodtables-ui/goodtables-ui.js

    css/validation-report.css
    css/validation-report-form.css

    js/module-validation-report.js
    js/module-modal-dialog.js

report =
    vendor/goodtables-ui/goodtables-ui.css
    vendor/goodtables-ui/goodtables-ui.js

    css/validation-report.css

    js/module-validation-report.js
