[groups]

main =
    css/validation.css

resource-schema-form =
    js/module-resource-schema.js

report-form =
    vendor/goodtables-ui/goodtables-ui.css
    vendor/goodtables-ui/goodtables-ui.js

    css/validation-report.css
    css/validation-report-form.css

    js/module-validation-report.js
    js/module-modal-dialog.js

report =
    vendor/goodtables-ui/goodtables-ui.css
    vendor/goodtables-ui/goodtables-ui.js

    css/validation-report.css

    js/module-validation-report.js
