[groups]

main =
    validation.css

report-form =
    vendor/goodtables-ui/goodtables-ui.css
    vendor/goodtables-ui/goodtables-ui.js

    validation-report.js
    module-modal-dialog.js

report =
    vendor/goodtables-ui/goodtables-ui.css
    vendor/goodtables-ui/goodtables-ui.js

    validation-report.js
