<div id="validation-report-dialog" class="modal hide fade bs2">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{ _('Data Validation Report') }}</h3>
      </div>
      <div class="modal-body">
        <div id="report" data-module="validation-report" data-module-report="{{ h.dump_json_value(validation_report) }}"></div>
      </div>
</div>
{% if h.use_webassets() %}
    {% snippet 'validation/snippets/validation_asset.html', name='ckanext-validation/report-form-css' %}
    {% snippet 'validation/snippets/validation_asset.html', name='ckanext-validation/report-form-js' %}
{% else %}
    {% snippet 'validation/snippets/validation_resource.html', name='ckanext-validation/report-form' %}
{% endif %}
