{% extends "package/base.html" %}

{%- block subtitle %}{{ _('Validation Report') }}{% endblock -%}


{% block links -%}
  {{ super() }}
  <link rel="stylesheet" href="//unpkg.com/goodtables-ui/dist/goodtables-ui.min.css">
{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}
{% block breadcrumb_content %}
  {{ super() }}

  <li><a href="{{ h.url_for(controller='package', action='resource_read', id=dataset.id, resource_id=resource.id ) }}">{{ h.resource_display_name(resource)|truncate(30) }}</a></li>
  <li class="active"><a href="">Validation Report</a></li>
{% endblock %}

{% block pre_primary %}

    <section class="module module-validation">
      <div class="module-content">
        <div class="actions">

        </div>

        <h1 class="page-heading">{{ h.resource_display_name(resource) | truncate(50) }}
        {{ h.get_validation_badge(resource)|safe }}
		</h1>

        <div id="report"></div>

      </div>
    </section>

{% endblock %}


{% block primary %}{% endblock %}

{% block secondary %}{% endblock %}


{%- block scripts %}
  {{ super() }}
  <script src="//unpkg.com/goodtables-ui/dist/goodtables-ui.min.js"></script>
  <script>
    var report = {{ validation.report|tojson|safe }}
    var element = document.getElementById('report')
    goodtablesUI.render(goodtablesUI.Report, {report}, element)
  </script>

{% endblock %}
