{% extends "package/base.html" %}


{%- block subtitle %}{{ _('Validation Report') }}{% endblock -%}

{% block breadcrumb_content_selected %}{% endblock %}
{% block breadcrumb_content %}
  {{ super() }}

  <li><a href="{{ h.url_for(controller='package', action='resource_read', id=dataset.id, resource_id=resource.id ) }}">{{ h.resource_display_name(resource)|truncate(30) }}</a></li>
  <li class="active"><a href="">Validation Report</a></li>
{% endblock %}

{% block pre_primary %}

    <section class="module module-validation">
      <div class="module-content">
        <div class="actions">

        </div>

        <h1 class="page-heading">{{ h.resource_display_name(resource) | truncate(50) }}
        {{ h.get_validation_badge(resource)|safe }}
        </h1>

        <div class="validation-details">
            <div>{{ _('Validation timestamp') }}: {{ h.render_datetime(resource.validation_timestamp, with_hours=True) }}</div>
            {% if validation.report %}
            <div>{{ _('Duration') }}: {{ validation.report.time }}s</div>
            {% endif %}
        </div>

        {% if validation.report %}
            <div id="report" {% if h.bootstrap_version() == '2' %}class="bs2"{% endif %} data-module="validation-report" data-module-report="{{ h.dump_json_value(validation.report) }}"></div>
        {% endif %}

        </div>
      </div>
    </section>

   {% resource 'ckanext-validation/report' %}

{% endblock %}


{% block primary %}{% endblock %}

{% block secondary %}{% endblock %}
