{% set package_id = data.package_id or h.get_package_id_from_resource_url() %}
{% set resource_id = data.resource_id or h.get_resource_id_from_resource_url() %}

<input name="id" value="{{ data.id }}" type="hidden"/>
<div class="form-group control-medium">
  <label class="control-label" for="ckan_uploader">{{ _('File') }}</label>
  <div id="ckan_uploader" data-module="ckan-uploader" data-module-resource_id="{{ resource_id }}" ddata-module-dataset_id="{{ package_id }}" data-module-upload_url="{{ config.get('ckan.site_url', '') }}"></div>
</div>

