{% ckan_extends %}

{% set validation_report, errors = h.validation_extract_report_from_errors(errors) %}
{% block errors_list %}
  {{ super() }}

  {% if validation_report %}
    {% if h.bootstrap_version() == '3' %}
      {% snippet 'validation/snippets/validation_report_dialog.html', validation_report=validation_report %}
    {% else %}
      {% snippet 'validation/snippets/validation_report_dialog_bs2.html', validation_report=validation_report %}
    {% endif %}
  {% endif %}

{% endblock %}
